httpx~=0.28.1
alembic~=1.15.1
asyncpg
sqlmodel~=0.0.24
pyjwt
aiohttp
numpy
pillow~=11.1.0
scikit-image
opencv-python~=4.11.0.86
torchvision~=0.21.0
torch~=2.6.0
matplotlib
pydantic~=2.10.6
fastapi~=0.115.11
uvicorn~=0.34.0
python-jose~=3.4.0
bcrypt
passlib~=1.7.4
wget~=3.2
gdown~=5.2.0
openapi-python-client
PyYAML~=6.0.2
SQLAlchemy~=2.0.38
starlette~=0.46.1
scipy
attrs~=25.1.0
python-dateutil~=2.9.0.post0
openai~=1.66.0